<div class="container">
  <div class="row no-gutters">
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-01.png'), category_path(id:1), class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-02.png'), category_path(id:2), class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-03.png'), category_path(id:3), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-04.png'), category_path(id:4), class:"mx-auto d-block" %>
       </div>
       <div class="col-md">
        <%= link_to image_tag('E-WEB-Goal-05.png'), category_path(id:5), class:"mx-auto d-block" %>
      </div>
        <div class="col-md">
           <%= link_to image_tag('E-WEB-Goal-06.png'), category_path(id:6), class:"mx-auto d-block" %>
        </div>
        <div class="w-100"></div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-07.png'), category_path(id:7), class:"mx-auto d-block" %>
       </div>
       <div class="col-md">
        <%= link_to image_tag('E-WEB-Goal-08.png'), category_path(id:8), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-09.png'), category_path(id:9), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-10.png'), category_path(id:10), class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-11.png'), category_path(id:11), class:"mx-auto d-block" %>
      </div>
       <div class="col">
          <%= link_to image_tag('E-WEB-Goal-12.png'), category_path(id:12), class:"mx-auto d-block" %>
      </div>
      <div class="w-100"></div>
       <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-13.png'), category_path(id:13), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-14.png'), category_path(id:14), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-15.png'), category_path(id:15), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-16.png'), category_path(id:16), class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-17.png'), category_path(id:17), class:"mx-auto d-block" %>
      </div>
      <div class="col-md">

      </div>
  </div>
</div>